@model ProstateBioBank.Models.PatientIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Patients</h2>

<p>
    @Html.ActionLink("Create New", "CreateAsync")
</p>

@Html.Partial("Patients", Model.Patients)
